.product-detail {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 10px 0;
}

.product_card_basket {
    width: 600px;
    height: 600px;
}

.product_card_basket img {
    width: 20%;
}

.product_card_basket {
    width: 50%;
    height: 650px;
    display: flex;
    flex-direction: column;
    box-shadow:
        rgba(6, 24, 44, 0.4) 0px 0px 0px 2px,
        rgba(6, 24, 44, 0.65) 0px 4px 6px -1px,
        rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    padding: 10px;
    align-items: center;
    gap: 10px;
}
