.service-card {
    width: 200px;
    /* height: 170px; */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border: solid 1px black;
}

.services {
    width: 100%;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    color: black;
    padding: 20px 0 0 0;
}